<div class="modal modal-info fade permissions" n:if="$display" id="security-component-permission-user-form-modal{$id}">
    {snippet}
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Oprávnění pro <code>{$user->name} {$user->surname}</code></h4>
            </div>
            <form class="ajax" method="post" action="{link permissions!}">
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-primary text-center">Zdroj</th>
                                <th class="text-primary text-center">Create</th>
                                <th class="text-primary text-center">Read</th>
                                <th class="text-primary text-center">Update</th>
                                <th class="text-primary text-center">Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr n:foreach="$permissions as $permission">
                                <input name="perm_id[{$permission->component->id}]" value="{$permission->id}" class="hidden" />
                                <td class="text-right text-black">{$permission->component->name}</td>
                                <td class="text-right text-black"><input name="create[{$permission->component->id}]" type="checkbox" {if $permission->create == true}checked{/if}/></td>
                                <td class="text-right text-black"><input name="read[{$permission->component->id}]" type="checkbox" {if $permission->read == true}checked{/if}/></td>
                                <td class="text-right text-black"><input name="update[{$permission->component->id}]" type="checkbox" {if $permission->update == true}checked{/if}/></td>
                                <td class="text-right text-black"><input name="delete[{$permission->component->id}]" type="checkbox" {if $permission->delete == true}checked{/if}/> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Uložit"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                </div>
            </form>
        </div>
    {/snippet}
</div>