<div class="table-responsive">
    <table class="table table-bordered table-hover" style="width: 100%">
        <thead>
        <tr>
            <th>Jméno</th>
            <th>Přijmení</th>
            <th>Email</th>
            <th class="col-lg-2"></th>
        </tr>
        </thead>
        <tbody>
        {foreach $users as $userItem}
            {var $temp = $userItem[0]}
            {control aclForm-$temp->id}
        {/foreach}
        </tbody>
    </table>
</div>