{var $item = $userData[0]}
<tr {if $userData['components'] == 0}class="text-muted"{/if}>
    <td class="text-muted">
        {control permissions}{$item->name}</td>
    <td>{$item->surname}</td>
    <td>{$item->email}</td>
    <td class="text-center">
        {snippet}
            {var $item = $userData[0]}
            <span class="{if $userData['components'] == 0}bg-danger{/if}">
          {if $userData['components'] != 0}
              <a class="btn btn-xs btn-primary" data-toggle="modal"
                 data-target="#security-component-permission-user-form-modal-{$item->id}">
            <i class="fa fa-pencil"/> Změnit oprávnění
        </a>
            {else}
              <a class="btn btn-xs btn-default" data-toggle="modal"
                 data-target="#security-component-permission-user-form-modal-{$item->id}">
            <i class="fa fa-plus"/> Přiřadit oprávnění
        </a>
          {/if}
        </span>
        {/snippet}
    </td>
</tr>